@model MarketBay.Models.Cliente

@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
    
    <h1>Email</h1>
    <h2>@Model.Conta.Email</h2>

</div>
</body>
</html>